<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Posts</title>
</head>
<body>
  <h1>Blog Posts</h1>
  <ul>
    <% blogPosts.forEach((post, index) => { %>
      <li>
        <h2><%= post.title %></h2>
        <p><%= post.content %></p>
        <a href="/edit/<%= index %>">Edit</a>
        <a href="/delete/<%= index %>">Delete</a>
      </li>
    <% }); %>
  </ul>
  <a href="/create">Create a New Blog Post</a>
  <a href="/dashboard">Dashboard</a>
  <a href="/logout">Logout</a>
</body>
</html>
